@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit',sans-serif;
}

.insight-content{

  margin-left:280px;

  min-height:100vh;

  background:#faf7ff;

  padding:40px;
}

.insight-hero{

  padding:50px;

  border-radius:35px;

  color:white;

  margin-bottom:35px;
}

.insight-hero span{

  display:inline-block;

  padding:10px 18px;

  border-radius:25px;

  background:
  rgba(255,255,255,.15);

  margin-bottom:15px;
}

.insight-hero h1{

  font-size:60px;

  margin-bottom:15px;
}

.insight-hero p{

  max-width:500px;

  line-height:1.8;
}

.insight-grid{

  display:grid;

  grid-template-columns:
  repeat(3,1fr);

  gap:25px;

  margin-bottom:35px;
}

.insight-card{

  background:white;

  padding:30px;

  border-radius:25px;

  box-shadow:
  0 10px 25px rgba(0,0,0,.05);
}

.insight-card h3{

  color:#6b7280;

  margin-bottom:12px;
}

.insight-card h2{

  color:#4c1d95;
}

.weekly-card{

  background:white;

  padding:35px;

  border-radius:30px;

  box-shadow:
  0 10px 25px rgba(0,0,0,.05);
}

.weekly-card h2{

  color:#312e81;

  margin-bottom:10px;
}

.weekly-card p{

  color:#6b7280;

  margin-bottom:20px;
}

.journey-line{

  height:16px;

  border-radius:20px;

  background:
  linear-gradient(
    90deg,
    #c4b5fd,
    #8b5cf6,
    #6d28d9
  );
}

@media(max-width:900px){

  .insight-content{

    margin-left:0;

    padding:25px;
  }

  .insight-grid{

    grid-template-columns:1fr;
  }

  .insight-hero h1{

    font-size:40px;
  }

}