.maps-container{
  min-height:100vh;
  background:#f7f2f6;
  padding:20px;
}

.maps-header{
  text-align:center;
  margin-bottom:20px;
}

.category-row{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.category-row button{
  border:none;
  padding:10px 18px;
  border-radius:20px;
  background:white;
}

.active{
  background:#7b5ba7;
  color:white;
}

.map-area{
  height:600px;
  border-radius:30px;
  background:#ece7f2;
  position:relative;
  overflow:hidden;
}

.pin{
  position:absolute;
  font-size:35px;
}

.pin1{
  top:80px;
  left:60px;
}

.pin2{
  top:100px;
  right:70px;
}

.pin3{
  bottom:120px;
  left:90px;
}

.pin4{
  bottom:80px;
  right:80px;
}

.memory-preview{
  position:absolute;
  top:220px;
  left:50%;
  transform:translateX(-50%);

  background:white;

  border-radius:25px;

  padding:12px;

  display:flex;

  gap:15px;

  cursor:pointer;
}

.memory-preview img{
  width:100px;
  height:100px;

  object-fit:cover;

  border-radius:20px;
}