@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit',sans-serif;
}

.onboarding-page{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:
  linear-gradient(
    135deg,
    #f8f5ff,
    #ede9fe
  );

  overflow:hidden;

  position:relative;
}

.bg-glow{

  position:absolute;

  border-radius:50%;

  filter:blur(90px);

  animation:
  floatGlow 10s infinite;
}

.glow1{

  width:350px;
  height:350px;

  background:#c4b5fd;

  top:-100px;
  left:-100px;
}

.glow2{

  width:300px;
  height:300px;

  background:#a78bfa;

  right:-80px;
  top:100px;
}

.glow3{

  width:350px;
  height:350px;

  background:#ddd6fe;

  bottom:-100px;
  left:35%;
}

@keyframes floatGlow{

  0%,100%{
    transform:
    translateY(0);
  }

  50%{
    transform:
    translateY(-30px);
  }
}

.floating{

  position:absolute;

  background:
  rgba(255,255,255,.6);

  backdrop-filter:blur(15px);

  padding:14px 24px;

  border-radius:30px;

  color:#7c3aed;

  font-weight:600;
}

.floating1{

  top:12%;
  left:8%;
}

.floating2{

  top:18%;
  right:8%;
}

.floating3{

  bottom:15%;
  left:10%;
}

.onboarding-card{

  width:850px;

  background:white;

  padding:30px;

  border-radius:35px;

  text-align:center;

  z-index:2;

  box-shadow:
  0 20px 50px rgba(0,0,0,.08);
}

.mood-image{

  width:100%;

  height:400px;

  object-fit:cover;

  border-radius:25px;

  margin-bottom:25px;
}

.mood-badge{

  display:inline-block;

  padding:10px 18px;

  border-radius:30px;

  background:#ede9fe;

  color:#7c3aed;

  margin-bottom:15px;
}

.onboarding-card h1{

  font-size:50px;

  color:#4c1d95;

  margin-bottom:15px;
}

.onboarding-card p{

  max-width:650px;

  margin:auto;

  color:#6b7280;

  line-height:1.8;

  margin-bottom:25px;
}

.dots{

  display:flex;

  justify-content:center;

  gap:10px;

  margin-bottom:25px;
}

.dot{

  width:12px;
  height:12px;

  border-radius:50%;

  background:#d8b4fe;
}

.dot.active{

  background:#7c3aed;
}

.button-group{

  display:flex;

  justify-content:center;

  gap:15px;
}

.back-btn{

  border:none;

  background:#ede9fe;

  color:#7c3aed;

  padding:15px 28px;

  border-radius:15px;

  cursor:pointer;
}

.next-btn{

  border:none;

  background:#7c3aed;

  color:white;

  padding:15px 28px;

  border-radius:15px;

  cursor:pointer;
}

.back-btn:hover,
.next-btn:hover{

  transform:
  translateY(-2px);
}

@media(max-width:900px){

  .onboarding-card{

    width:90%;
  }

  .mood-image{

    height:250px;
  }

  .onboarding-card h1{

    font-size:36px;
  }

}